div {
    background-color: tan;
    color: darkgreen;
}
#menu {
    display: block;
}
#home {
    color: red;
    display: none;
}
#about {
    color: blue;
    display: none;
}
#contact {
    color: black;
    display: none;
}