div {
    background-color: tan;
    color: darkgreen;
}
#imageSliderBox {
    text-align: center;
    border:5px solid blue;
    height: 100vh;
}
.slides {
    display: grid;
    border: 5px solid red;
    height:max-content;
    font-size: 56px;
    grid-template-columns: 1fr 1fr 1fr;
    

}
.slides > div {
    border: 5px solid black;
}
#slide2 {
    color: red;
    display: block;
    width: 300px;
    height: 300px;
    font-size: 100px;
}
#slide3 {
    display: none;
}
#slide4 {
    display: none;
}
